
body {
    font-size: 15px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.box {

    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
    border: 2px solid #99ccff;
    background-color: #ffcccc;
}
