html {
    background: url(http://slc.blog.ryerson.ca/files/2015/08/Screen-Shot-2015-08-13-at-1.50.05-AM-640x427.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Lucida Sans", sans-serif;
}

.picture {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    height: 450px;
    border: 2px solid grey;
    background-color: #f4f4f4;
}

.back {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 650px;
    height: 2850px;
    border: 2px solid;
    background-color: #b2b2b0; }