<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>

</head>
<body>
<h1>My Very Own NodeJS Page</h1>
img(src="https://camo.githubusercontent.com/0716e552b587ec0c723ccdf0fe3f3824b38444a7/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f353938313437322f313538393035372f38363531653564302d353236322d313165332d393736372d3464653764353939353861352e6a7067")

</body>
</html>