<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<title>Credits</title>
link(rel='stylesheet' href='/stylesheets/page6.css')
</head>
<div class = "back">
<body>
<center>
<br><h1 style = "text-align:center;"> Credits</h1> <hr>

<div class = "picture">
<p style="text-align:left;">
img(src="images/Louise.jpg"  alt ="Louise.jpg" width = "295" height = "300")
</p>
<h1 style = "font-size: 20px;"> Louise Marquez </h1>
<p style = "text-align:left;"> Responsibility: Designing a short summary presentation of Node.js (Page 1), and putting the pages all together.</p>
</div>
<br>
<div class = "picture">
<p style="text-align:left;">
img(src="images/prachi.jpg"  alt ="prachi.jpg" width = "295" height = "300")
</p>
<h1 style = "font-size: 20px"> Prachi Kapadia </h1>
<p style = "text-align:left;"> Responsibility: Designing a tutorial showing in short simple steps how to install Node.js on your chosen platform (Page 2). </p>
</div>
<br>
<div class = "picture">
<p style="text-align:left;">
img(src="images/sarah.jpg"  alt ="sarah.jpg" width = "295" height = "300")
</p>
<h1 style = "font-size: 20px"> Sarah MacCallum </h1>
<p style = "text-align:left; font-size: 13px;"> Responsibility: Designing a short tutorial showing how to create a great looking page with text, images, and styles using Node.js and the actual page that is the result of this (Page 3 & 4). </p>
</div>
<br>
<div class = "picture">
<p style="text-align:left;">
img(src="images/nishita.jpg"  alt ="nishita.jpg" width = "295" height = "300")
</p>
<h1 style = "font-size: 20px"> Nishita Acharya </h1>
<p style = "text-align:left;"> Responsibility: Designing a conclusion page rating the experience with Node.js and implementing the credits page (Page 5 & 6). </p>
</div>
<br><br> <hr> <h1> References </h1>
<p style = "text-align: left;"> https://www.tutorialspoint.com/nodejs/nodejs_introduction.htm </p>
<p style = "text-align: left;"> https://www.quora.com/Is-Node-js-a-back-end-or-front-end-environment </p>
<p style = "text-align: left;"> https://www.w3schools.com/nodejs/nodejs_intro.asp </p>
<p style = "text-align: left;"> https://youtu.be/gtjzjiTI96c - Node.js on Netflix </p>
<p style = "text-align: left;"> https://nodejs.org/en/ </p>
<p style = "text-align: left;"> https://devcenter.heroku.com/articles/getting-started-with-nodejs#introduction </p>
<p style = "text-align: left;"> https://devcenter.heroku.com/ </p>
<p style = "text-align: left;"> https://media.timeout.com/images/103397124/image.jpg </p>
<p style = "text-align: left;"> http://www.referenceforbusiness.com/photos/ice-cream-shop-215.jpg </p>
<p style = "text-align: left;"> http://cdn3-www.momtastic.com/assets/uploads/2011/12/Ice-Cream-Cookie-Sandwich.jpg </p>
<p style = "text-align: left;"> https://www.dhresource.com/0x0s/f2-albu-g5-M01-6C-F1-rBVaI1ljOBGAMgyYAAKXHGCJ_hM007.jpg/gradient-watercolor-photography-backdrops.jpg </p>
<p style = "text-align: left;"> https://img.huffingtonpost.com/asset/57adcad7170000ae02c72c8d.jpeg?ops=scalefit_720_noupscale </p>
<p style = "text-align: left;"> http://www.icecream.com/icecreaminfo </p>
<p style = "text-align: left;"> http://slc.blog.ryerson.ca/files/2015/08/Screen-Shot-2015-08-13-at-1.50.05-AM-640x427.png </p>
<p style = "text-align: left;"> https://upload.wikimedia.org/wikipedia/commons/1/1b/4_stars.svg </p>
<p style = "text-align: left;"> https://www.quora.com/Is-it-easy-to-learn-Node-js-after-learning- </p>
<p style = "text-align: left;"> https://www.quora.com/Is-node-js-too-difficult-for-the-average-developer </p>


</center>
</body>
</div>
</html>