<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head><title>Credits</title>
link(rel='stylesheet' href='/stylesheets/page6.css')
</head>


<body>

<h1>Credits</h1>
<div class = "back">
<center>

<div class = "col-3">
<p style="text-align:left;">
img(src="https://scontent.fybz2-1.fna.fbcdn.net/v/t34.0-12/23718274_941138702692138_1018888077_n.jpg?oh=6797f3214f90cda9401141a70a2c1297&oe=5A153CE6"  alt ="Louise" width = "295" height = "300")
</p>
<h1 style = "font-size: 20px;"> Louise Marquez </h1>
<p style = "text-align:left;"> Responsibility: Designing a short summary presentation of Node.js and hosting the website. (Page 1)</p>
</div>

<br>

<div class = "col-3">
<p style="text-align:left;">
img(src="https://scontent.fyzd1-1.fna.fbcdn.net/v/t1.0-9/14516551_1113143375405774_189909218809665924_n.jpg?oh=114fbe70c48a66d8369c2d8129b029e5&oe=5A9E5D8D"  alt ="Prachi" width = "295" height = "300")
</p>
<h1 style = "font-size: 20px"> Prachi Kapadia </h1>
<p style = "text-align:left;"> Responsibility: Designing a tutorial showing in short simple steps how to install Node.js on your chosen platform (Page 2). </p>
</div>

<br>

<div class = "col-3">
<p style="text-align:left;">
img(src="https://scontent.fyzd1-1.fna.fbcdn.net/v/t34.0-12/23667074_10210573320676938_1848207204_n.jpg?oh=c7a7ae66377017446933e8baaf54a0df&oe=5A13477D"  alt ="Sarah" width = "295" height = "300")
</p>
<h1 style = "font-size: 20px"> Sarah MacCallum </h1>
<p style = "text-align:left; font-size: 13px;"> Responsibility: Designing a short tutorial showing how to create a great looking page with text, images, and styles using Node.js and the actual page that is the result of these (Page 3 & 4). </p>
</div>

<br>

<div class = "col-3">
<p style="text-align:left;">
img(src="https://scontent.fyzd1-1.fna.fbcdn.net/v/t1.0-9/12439343_10209605477760690_1635078663762312295_n.jpg?oh=bd1e8714aaa3db10476b28a8a1ba45db&oe=5AA31E02"  alt ="Nishita" width = "295" height = "300")
</p>
<h1 style = "font-size: 20px"> Nishita Acharya </h1>
<p style = "text-align:left;"> Responsibility: Designing a conclusion page rating the experience with Node.js and implementing the credits page (Page 5 & 6). </p>

</div>

</div>
</center>
</body>
</html>