<!DOCTYPE html>
<html>
<head>
<title>Conclusion</title>
link(rel='stylesheet' href='/stylesheets/conclusion.css')
<h1 style="text-align:center;"> Conclusion </h1> <hr>
</head>

<div class = "back">
<body>
<p style="text-align:center; font-size: 25px;"> Rate:
img(src="https://upload.wikimedia.org/wikipedia/commons/1/1b/4_stars.svg"  alt ="4/5" width = "150" height = "40")
</p>

<ol>
<li><h3>Did it perform to your expectations?</h3>
<p>Yes, Node.js performed well beyond our expectations. At first we did not quite get our progran to host, but once we got a grasp on the Node.js framework, it become easier for us to host our program as well as learn quite a bit about Node.js and its' programming.
</p>
</li>


<li><h3>Was it difficult to install or configure?</h3>
<p> Node.js was easy to install. The official web site of Node.js (https://nodejs.org/en/) offers the option of downloading Node.js source code or a pre-built installer for specific platforms. The Platforms offered are Macintosh and Windows. After the pre-installer was downloaded, we ran the installer and followed the prompts in the installer. This process was simple, as the prompts were clear and straightforward.</p>
</li>

<li><h3>Was it easy the create the page with it?</h3>
<p> First, we download Node.js. A great thing about Node.js is we do not have to install a seperate server, we are allowed to write our own server. Later, we download <a href="https://www.jetbrains.com/webstorm/download/#section=windows">Webstorm</a> which is a Javascript IDE. We stored all our files in GitHub and we clone the repositories made from github to webstorm. This enables changes to be automatically uploaded back to the repository. </p>
<p>Using Webstorm we created a server with node.js (server.js in JavaScript). This file would handle all the server requests. Consequently, we hosted our html files on this server. The hardest part was hosting the server although, once we understood how to do this, creating the page was straightforward. </p>
</li>

<li><h3> Was the learning curve steep compared with regular HTML/CSS? </h3>
<p>Node.js has a gentle learning curve compared to regular HTML/CSS. In order to learn the framework we had use several applications that we had not used before such as WebStorm. Learning Node.js and hosting the html pages using the server created through Node.js was a bit difficult and tedious. However, there are many helpful tutorials and modules available to learn the framework which made the learning process easier. Node.js requires knowledge of JavaScript as well as, we needed to have clear understanding of the client-server model. </p>
</li>

<li><h3> Would you have done things differently in retrospect? Did you regret your choice of framework/CMS? </h3>
<p> We did not regret choosing node.js. Although, learning this framework was tedious and hard but, in the long run it would be really helpful since it is very popular among big companies such as Microsoft, IBM, Netflix and more. </p>
</li>
</ol>
</body>
</div>
</html>

